NODE_ENV=
PORT=

# Mongodb
MONGODB_URI=

# Redis
REDIS_URL=
REDIS_PASSWORD=
IS_REDIS_SERVER_ON=

# JWT Auth
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_HASH_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

# bCRYPT
SALT_ROUNDS=